@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.gptWrap {
  margin-top: 10px;
  width: 100%;
}

.gptInner {
  padding: 20px;
}

.head {
  font-family: "Poppins-Bold";
  font-size: 25px;
  font-weight: 700;
  line-height: 42.5px;
  text-align: center;
  color: var(--color-white);
  margin-top: 10px;
}

.des {
  font-family: "Poppins-Medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: var(--color-light-white);
  margin-top: 15px;
}

.chatOuter {
  margin: 25px 0px 10px;
}
.chatInOut {
  padding: 20px;
  padding-right: 0px;
  border-radius: 9px;
  border: 0.5px solid var(--color-green);
}
.chatWindow {
  padding-right: 20px;
  min-height: 500px;
  max-height: 600px;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition-duration: 400ms;
}

.message {
  margin-bottom: 10px;
  display: flex;
}
.messageInner {
  padding: 7px 10px;
  border-radius: 8px;
  max-width: 80%;
  min-width: 70px;
  font-size: 13px;
}
.incoming {
  justify-content: flex-start;
  .messageInner {
    background-color: var(--light-green);
  }
}

.outgoing {
  justify-content: flex-end;
  .messageInner {
    background-color: var(--color-green);
  }
}

.send {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-family: "Poppins-Medium";
  font-size: 13px;
  font-weight: 500;
  line-height: 20.31px;
  text-align: left;
  color: var(--color-white);
  background-color: var(--global-dark-background);
  height: 36px;
  width: 88px;
  cursor: pointer;
  transition-duration: 200ms;
  &:hover {
    transform: scale(1.04);
  }
  &:disabled {
    &:hover {
      transform: scale(1);
    }
  }
  img {
    margin-left: 6px;
    display: inline-block;
    vertical-align: top;
  }
}

.inputWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-green);
  border-radius: 8px;
  padding: 10px 7px;
  height: 45px;
  padding-left: 20px;
  margin-top: 15px;
  position: relative;

  input {
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--btn-color);
    font-family: "Poppins-Medium";
    font-size: 14px;
  }
  .typingAnimation {
    position: absolute;
    right: 11px;
    top: -40px;
    color: var(--color-green);
    animation: fadeInOut 2s infinite;
  }
}

.disclaimer {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: var(--color-white);
  margin-top: 40px;
  display: none;

  ol {
    margin: 0px;
    padding-left: 11px;
    line-height: 23px;
    margin-top: 6px;
  }
}
.enquiries {
  padding-right: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
  min-height: 500px;
  justify-content: flex-end;
  align-items: flex-end;
  .enquiryItem {
    background: var(--light-green);
    border-radius: 30px;
    padding: 4px 15px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 100%;
  }
}
