.selectOuter {
  position: relative;
  z-index: 5;
  &.active {
    z-index: 100;
  }
}
.container {
  display: inline-flex;
  align-items: center;
  padding: 6px 35px 6px 15px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  background-color: var(--light-green);
  width: 100%;
  z-index: 5;
}

.topWrap {
  font-family: "Poppins-SemiBold";
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .mainText {
    color: var(--color-black);
    display: inline-block;
    margin: 0px 20px 0px 10px;
  }
  .text {
    color: var(--color-dark-gray);
    display: inline-block;
  }
  .icon {
    display: inline-block;
    margin-top: 6px;
    img {
      width: auto;
      height: 16px;
      margin-right: 8px;
    }
  }
  .dropdown {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 14px;
    top: 19px;
  }
}

.optionsContainer {
  position: absolute;
  z-index: 10;
  top: 43px;
  left: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  width: 100%;
  background: var(--light-green);
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px #050505;
  &.open {
    display: block;
  }
}

.option {
  padding: 10px 8px 8px;
  font-size: 13px;
  font-family: Poppins-SemiBold;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  border-bottom: 1px solid var(--color-dark-blue-font);
  &:hover {
    background: var(--background-color);
    color: var(--color-offwhite);
  }
  .logoImg {
    img {
      width: auto;
      height: 16px;
      margin-right: 8px;
    }
  }
  .suggestionName{
    margin-left: 5px;
  }
}
.suggestionList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.suggestionList::-webkit-scrollbar {
  display: none;
}
.suggestionListItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Poppins-SemiBold";
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  border: 0.5px solid var(--color-green);
  border-radius: 30px;
  padding: 3px 5px;
  padding-right: 7px;
  color: var(--light-green);
  margin-right: 5px;
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &:last-child {
    margin-right: 0px;
  }
  img {
    height: 16px;
    width: auto;
    display: inline-block;
    margin-right: 5px;
  }
}
