.progress {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}
.progressInner {
  border-radius: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btn-color);
  font-family: Arial;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  max-width: 100%;
}
.rangeWrapper {
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
}
