.titleContainer {
    font-family: "Poppins-Semibold";
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.64rem;
    text-align: left;
    width: 100%;
    color: var(--color-white);
    margin: 0px;
  }