.container {
  margin-bottom: 30px;
  cursor: pointer;
  /* Your styles here */
  @media (min-width: 425px) {
    display: flex;
    align-items: flex-start;
    column-gap: 35px;
  }

  h2 {
    font-family: "Poppins";
    font-size: 1.14rem;
    font-weight: 400;
    line-height: 3.64rem;
    text-align: left;
  }

  .imagecontainer {
    width: 137px;
    aspect-ratio: 1.223;
    border-radius: 13px;
    overflow: hidden;
    flex-shrink: 0;

    @media (max-width: 425px) {
      margin-bottom: 12px;
      width: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h3 {
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 0px;
  }

  p,
  span {
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
    color: var(--color-offwhite2);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }

  span {
    display: block;
    line-height: 3rem !important;
    font-size: 1.2rem !important;
    margin-bottom: 15px;
  }

  .By {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 14px;
  }
}
