.autoWrapOut {
  overflow: hidden;
  border-radius: 16px;
  height: 100%;
  &.opacityLoading {
    opacity: 0.5;
  }
}
.autoWrap {
  padding: 20px;
}
.legendBox {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: var(--color-green);
  margin-right: 7px;
  &.legendOld {
    background-color: var(--btn-color);
  }
}
.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}
.totalRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 11px;
  color: var(--color-white);
}
.totalHead {
  font-size: 17px;
  color: var(--color-white);
}
.totalTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrowWrap {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &:after {
    background-color: var(--color-pink);
    opacity: 0.2;
    width: 100%;
    height: 100%;
    content: "";
    left: 0px;
    top: 0px;
    border-radius: 50%;
    position: absolute;
  }
  &.arrowGreen {
    &:after {
      background-color: var(--color-green2);
    }
  }
}
.percent {
  font-family: "Poppins-Medium";
  font-size: 22px;
  font-weight: 500;
  line-height: 42.82px;
  text-align: left;
  color: var(--color-green);
  margin-left: 5px;
  &.red {
    color: var(--color-percent-red);
  }
}
.totalAmount {
  font-family: "Poppins-Medium";
  color: var(--color-white);
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.newOldItemWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.newOldLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .newOldBox {
    width: 9px;
    height: 9px;
    background-color: var(--light-blue);
    &.green {
      background-color: var(--color-dark-green2);
    }
  }
  .newOldName {
    font-family: "Poppins-Medium";
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: var(--color-tag-background);
    margin-left: 10px;
    width: 80px;
  }
}
.newOldRight {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .val {
    font-size: 15px;
    font-weight: 400;
    line-height: 20.39px;
    text-align: left;
    color: var(--color-white);
    margin-left: 30px;
    margin-right: 7px;
  }
}
.chartWrap {
  height: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.nameProgress {
  font-size: 13px;
  font-weight: 400;
  line-height: 18.35px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--color-white);
  margin-bottom: 15px;
  .left {
    width: 90%;
  }
}
.progressOut {
  width: 100%;
  border-radius: 0px;
  height: 18px;
  overflow: hidden;
  margin-top: 6px;
}
.progressIn {
  height: 100%;
  background-color: var(--color-green);
  border-radius: 0px 30px 30px 0px;
  &.progressUser {
    background: linear-gradient(
      268.42deg,
      #ea5954 32.75%,
      rgba(66, 42, 42, 0) 153.41%
    );
  }
  &.progressPayout {
    background: linear-gradient(
      268.28deg,
      #b6ffe5 37.25%,
      rgba(16, 17, 15, 0) 134.08%
    );
  }
}
