.container {
  padding: 55px 30px 0px 30px;
  @media (max-width: 1200px) {
    padding: 30px 10px 0px;
  }
  @media (min-width: 1450px) {
    max-width: calc(88vw + 60px);
    margin: auto;
  }
  &.narrow {
    padding: 0px 20px;
    @media (min-width: 1024px) {
      padding: 0px 50px;
    }
  }
  &.medium {
    padding: 0px 20px;
    @media (min-width: 768px) {
      padding: 0px 55px;
    }
    @media (max-width: 1200px) {
      padding: 0px 10px;
    }
  }

  .wrapperBg {
    background: var(--global-dark-background);
    padding: 15px;
    @media (min-width: 1024px) {
      padding: 45px;
    }
    border-radius: 16px;
  }
}
