.container {
  padding: 35px;
  border-radius: 10px;
  background: var(--global-dark-background);

  h1 {
    color: var(--color-white);
    margin-top: 0px;
    font-family: "Poppins-Medium";
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.73rem;
    text-align: left;
    margin-bottom: 0px;
  
  }
}