:root {
  --gap: 30px;
}

@media (max-width: 1024px) {
  :root {
    --gap: 15px;
  }
}

.container {
  padding-top: 80px;
  padding-bottom: 55px;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;

  @media (max-width: 1024px) {
    padding-top: 30px;
  }

  .ellips1 {
    position: absolute;
    top: -220px;
    left: 59px;
  }

  .howItWorksCardsContainer {
    padding-top: 100px;
    display: flex;
    width: 93vw;
    max-width: 1400px;
    margin: 0 auto;
    column-gap: var(--gap);

    @media (max-width: 700px) {
      width: 100%;
      padding: 30px 20px 0px;
      display: block;
    }
  }

  .howItWorksCards {
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
