.container {
  margin-top: 40px;
  h1,
  h2 {
    text-align: left;
    margin-bottom: 25px;
  }
  @media (min-width: 768px) {
    margin-top: 40px;
    h1,
    h2 {
      margin-bottom: 35px;
    }
  }
}

.heatMapOuter {
  height: 80vh;
  max-height: 470px;
}
.heatMapContainer {
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.mostInvestedOn {
  margin-top: 50px;
}

.mostInvestedOnRow {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -20px;
  }
  .mostInvestedCard {
    img {
      width: 100%;
    }
    @media (min-width: 768px) {
      width: 25%;
      padding: 20px;
    }
  }
}
