.body {
  margin-top: 30px;
  margin-bottom: 30px;
}
.bottom {
  margin-top: 30px;
}
.filterOut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
.filterTable {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.filterWrap {
  width: 275px;
}
.tableOuter {
  overflow: auto;
  width: 100%;
  .table {
    thead th:first-child {
      padding: 20px 10px 20px 30px;
    }
  }
}
.statusWrap {
  display: inline-block;
}
.status {
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid;
  border: 1px solid var(--color-green);
  color: var(--color-green);
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  text-transform: capitalize;
  &.successful {
    background-color: var(--color-green);
    border: 1px solid var(--color-green);
  }
  &.NEW {
    background-color: transparent;
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
  }
  &.pending {
    background-color: transparent;
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
  }
  &.failed {
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
  }
}

.statusDot {
  position: relative;
  padding-left: 20px;
  &::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  &.Active {
    &::after {
      background-color: var(--color-green);
    }
  }
  &.Inactive {
    &::after {
      background-color: var(--color-orange);
    }
  }
  &.Suspended {
    &::after {
      background-color: var(--color-orange);
    }
  }
  &.Deleted {
    &::after {
      background-color: var(--color-orange);
    }
  }
  &.Online {
    &::after {
      background-color: var(--color-green);
    }
  }
  &.Offline {
    &::after {
      background-color: var(--color-orange);
    }
  }
}
.nameAvatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Poppins-SemiBold;
    color: var(--color-white);
    background: var(--color-dark-blue-font);
    position: relative;
    img {
      position: absolute;
      border-radius: 50%;
      left: 0px;
      width: 100%;
      height: 100%;
      top: 0px;
      z-index: 1;
      object-fit: cover;
    }
  }
}
.hover {
  cursor: pointer;
}
.filler {
  opacity: 0;
}
.loader {
  text-align: center;
}
.menuWrap {
  position: relative;
}

.menuOptionWrap {
  border: 1px solid var(--color-light-brown);
  background-color: var(--dark-color2);
  border-radius: 6px;
  padding: 10px 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  z-index: 10;
}
.menuOption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-white);
  font-family: Poppins-Medium;
  padding: 12px 20px;
  font-size: 14px;
  width: 170px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  img {
    width: 17px;
    margin-right: 15px;
  }
}
.menuDot {
  padding: 10px;
  cursor: pointer;
  position: relative;
  &:hover {
    .menuOptionWrap {
      display: block;
    }
  }
}

.popHead {
  font-family: "Poppins-SemiBold";
  font-size: 1.9rem;
  line-height: 3rem;
  text-align: center;
  margin-top: 20px;
  color: var(--color-white);
  max-width: 400px;
}
.description {
  color: var(--color-light-gray);
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  width: 415px;
  max-width: 100%;
  margin-top: 15px;
}
.btnOuter {
  margin: 40px 0px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authBtn {
  background-color: var(--color-green);
  color: var(--color-black);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 27px;
  border-radius: 30px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
}
.permissionWrapOut {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 20vw;
  .permissionTab {
    border-radius: 30px;
    padding: 3px 15px;
    color: var(--color-white);
    background-color: var(--color-dark-blue-font);
  }
}
