.container {
  position: relative;
  z-index: 11;
  .watchListWrapper{
    display: flex;
    @media (min-width:768px) {
    flex-wrap: wrap;
    }
    .watchListContiner{
      width: 90%;
      flex-shrink: 0;
      @media (min-width:320px) {
        width: 300px;
      }
      @media (min-width:768px) {
        width: 33.33%;
     }
     @media (min-width:1024px) {
      width: 25%;
   }
      @media (min-width:1600px) {
         width: 20%;
      }
    }
  }

  
}

.scrollEnd {
  height: 10px;
  width: 100%;
}


@media screen and (max-width: 830px) {
.scrollEnd {
  height: 100%;
  width: 10px;
}

}

.mainWarpper{
  margin-bottom: -35px;
    padding-bottom: 35px;
}
