.binaryWrap {
  overflow: hidden;
  border-radius: 16px;
  height: 100%;
  &.opacityLoading {
    opacity: 0.5;
  }
}
.head {
  font-size: 16px;
  line-height: 30.71px;
  text-align: left;
  color: var(--color-white);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter {
  select {
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 30px;
    padding: 4px 24px 4px 14px;
    font-size: 12px;
    background: var(--background-color2);
    box-shadow: none;
    cursor: pointer;
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Standard syntax */
    background: url("../../../../../../public/assets/images/arrowDown.png")
      no-repeat 88% center;
    background-size: 9px; /* Adjust size to fit your arrow */
    background-color: var(--background-color2);
  }
}
.binaryInner {
  padding: 20px;
  &:first-child {
    padding-bottom: 40px;
    position: relative;
  }
}
.chartIndWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: var(--color-white);
  }
}
.indWrap {
  width: 180px;
}
.chartWrap {
  width: -moz-calc(100% - 220px);
  width: -webkit-calc(100% - 220px);
  width: -o-calc(100% - 220px);
  width: calc(100% - 220px);
  padding-left: 30px;
  border-left: 1px solid var(--color-white);
}
.searchOuter {
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  position: relative;
  z-index: 10;
  .searchItemWrap {
    position: absolute;
    top: 44px;
    left: 0px;
    width: 100%;
    border-radius: 8px;
    max-height: 200px;
    overflow: auto;
    width: 100%;
    .searchItem {
      background-color: var(--light-green);
      padding: 7px 10px;
      font-size: 13px;
      cursor: pointer;
      &:hover {
        background: var(--btn-color);
        color: var(--color-white);
      }
    }
  }
  input {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    font-family: "Poppins-Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 19.38px;
    text-align: left;
    background-image: url("../../../../../../public/assets/images/search.png");
    background-position: 5%;
    background-repeat: no-repeat;
    background-size: 18px;
    color: var(--btn-color);
    background-color: var(--light-green);
    padding-left: 40px;
    padding-right: 10px;
  }
  input::placeholder {
    font-family: "Poppins-Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 19.38px;
    text-align: left;
    color: var(--btn-color);
  }
}
.copy {
  padding: 0px 15px;
  border-radius: 8px;
  color: var(--btn-color);
  background-color: var(--light-green);
  text-align: center;
  font-family: Poppins-Medium;
  font-size: 14px;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: var(--color-green);
  }
}
.userName {
  font-family: "Poppins-Medium";
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: var(--color-white);
  margin-top: 20px;
  margin-bottom: 30px;
}
.color {
  width: 19px;
  height: 17px;
  border-radius: 3px;
  background-color: var(--color-green);
  &.color2 {
    background-color: var(--color-pink);
  }
}
.direction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-bottom: 5px;
  .directionInner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-green2);
    opacity: 0.09;
  }
}
.indicatorOut {
  padding-bottom: 60px;
  &:last-child {
    padding-bottom: 0px;
  }
}
.sizePercent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0px;
}
.indicatorWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  color: var(--color-white);
  font-size: 15px;
  text-align: left;
  margin: 0px 15px;
}
.bottomVal {
  font-size: 14px;
  font-weight: 400;
  line-height: 25.52px;
  text-align: left;
  color: var(--color-white);
  text-align: center;
}
.detWrap {
  display: flex;
  flex-direction: column;
}
.saleDetail {
  color: var(--color-white);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .saleName {
    margin-right: 15px;
  }
}
.chartOuter {
  position: relative;
  // height: 190px;
  height: 220px;
  padding-top: 40px;
  &:first-child {
    margin-bottom: 40px;
  }
  .copy {
    position: absolute;
    right: 0px;
    top: -7px;
    height: 35px;
  }
}
.sectionHead {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: var(--color-white);
  margin-bottom: 30px;
  text-align: center;
  margin-top: -70px;
}
@media only screen and (max-width: 900px) {
  .chartIndWrap {
    display: block;
    &::after {
      top: 72%;
    }
  }
  .indWrap {
    width: 100%;
    margin-bottom: 30px;
  }
  .searchOuter {
    width: 100%;
    input {
      background-position: 14px;
    }
  }
  .sectionHead {
    margin-top: -15px;
  }
  .chartWrap {
    width: 100%;
    padding-left: 15px;
  }
  .chartOuter {
    .copy {
      height: 30px;
    }
  }
}
