.container {
  margin-top: 20px;
  padding: 20px;
  @media (min-width:768px) {
    margin-top: 80px;
  }
  @media (min-width:1024px) {
    padding: 0px 60px;
  }

  @media (min-width:1440px) {
    padding: 0px 140px;
  }

  .mainWrapper {
    background: var(--global-dark-background);
    border-radius: 16px;
    padding: 20px;
    @media (min-width:1024px) {
      padding: 30px 40px;
    }

    @media (min-width:1440px) {
      padding: 30px 70px;
    }
  }

}