.table2 {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  &.isFixed{
    table-layout: fixed;
  }
}

.table2 th,
.table2 td {
  border: 0px;
  text-align: left;
}
.table2 th {
  font-size: 13px;
  font-weight: 400;
  line-height: 21.46px;
  text-align: left;
  color: var(--color-light-gray-small);
  padding: 0px 10px;
  &:first-child {
    border-radius: 8px 8px 0px 8px;
    padding-left: 30px;
  }
  &:last-child {
    padding-right: 30px;
    border-radius: 0px 30px 30px 0px;
  }
}
.table2 tr:nth-child(odd) td{
  background-color: var(--border-gray);
}
.table2 td {
  color: var(--color-white);
  padding: 20px 10px;
  &:first-child {
    border-radius: 8px 0px 0px 8px;
    padding-left: 30px;
  }
  &:last-child {
    padding-right: 30px;
    border-radius: 0px 8px 8px 0px;
  }
}
.tablePag{
  padding: 0px 20px 10px 0px;
}