.container {
  table {
    width: 100%;
    border-radius: 16px;
    border: 1px solid;
    border-color: var(--light-green);
    overflow: hidden;
    // border-collapse: collapse;
    border-spacing: 0;
  }

  th {
    padding: 27px;
    font-family: Poppins;
    font-size: 1.26rem;
    font-weight: 500;
    line-height: 1.89rem;
    text-align: left;
    color: rgba(140, 140, 140, 1);
  }

  thead {
    tr {
      background: var(--global-dark-background) !important
    }
  }

  tr {

    td {
      padding: 27px;
      font-size: 1.26rem;
      font-weight: 400;
      line-height: 1.89rem;
      color: var(--color-white);
    }

    &:nth-child(odd) {
      background:var(--color-light-brown)
    }

    &:nth-child(even) {
      background: var(--global-dark-background)
    }

  }

}