.nftContainer {
  width: 320px;
  position: relative;
}
.overview {
  position: relative;
  z-index: 10;
}
.nftImage {
  padding-top: 0px;
  .nftImageWrap {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 385px;
  }
}
.tag {
  background-image: url("../../../../../public/assets/images/orangeTag.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 78px;
  height: 90px;
  position: absolute;
  left: 20px;
  top: 0px;
  .tagText {
    transform: rotate(90deg);
    font-family: Poppins-Medium;
    font-size: 13px;
    font-weight: 500;
    line-height: 35.5px;
    text-align: left;
    width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: 26px;
  }
}
.bodyTop {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.body {
  margin-bottom: 30px;
}
.right {
  width: -moz-calc(100% - 340px);
  width: -webkit-calc(100% - 340px);
  width: -o-calc(100% - 340px);
  width: calc(100% - 340px);
  &.full {
    width: 100%;
  }
}

.filterTable {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.filterWrap {
  width: 275px;
}
.tableOuter {
  overflow: auto;
  width: -moz-calc(100% - 295px);
  width: -webkit-calc(100% - 295px);
  width: -o-calc(100% - 295px);
  width: calc(100% - 295px);
  .table {
    thead th:first-child {
      padding: 20px 10px 20px 30px;
    }
  }
}
.statusWrap {
  display: inline-block;
}
.status {
  font-size: 12px;
  font-weight: 500;
  line-height: 22.55px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid;
  border: 1px solid var(--color-green);
  color: var(--color-green);
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  text-transform: capitalize;
  &.successful {
    background-color: var(--color-green);
    border: 1px solid var(--color-green);
  }
  &.NEW {
    background-color: transparent;
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
  }
  &.pending {
    background-color: transparent;
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
  }
  &.failed {
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
  }
}

.statusDot {
  position: relative;
  padding-left: 20px;
  &::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  &.Active {
    &::after {
      background-color: var(--color-green);
    }
  }
  &.Inactive {
    &::after {
      background-color: var(--color-orange);
    }
  }
  &.Online {
    &::after {
      background-color: var(--color-green);
    }
  }
  &.Offline {
    &::after {
      background-color: var(--color-orange);
    }
  }
}
.nameAvatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Poppins-SemiBold;
    color: var(--color-white);
    background: var(--color-dark-blue-font);
    position: relative;
    img {
      position: absolute;
      border-radius: 50%;
      left: 0px;
      width: 100%;
      height: 100%;
      top: 0px;
      z-index: 1;
      object-fit: cover;
    }
  }
}
.hover {
  cursor: pointer;
}
.filler {
  opacity: 0;
}
.loader {
  text-align: center;
}

.popHead {
  font-family: "Poppins-SemiBold";
  font-size: 1.9rem;
  line-height: 3rem;
  text-align: center;
  margin-top: 20px;
  color: var(--color-white);
  max-width: 400px;
}
.description {
  color: var(--color-light-gray);
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  width: 370px;
  max-width: 100%;
  margin-top: 15px;
}
.btnOuter {
  margin: 40px 0px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authBtn {
  background-color: var(--color-green);
  color: var(--color-black);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 27px;
  border-radius: 30px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
}

.nameNFT {
  .avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 100%;
  }
}
.dwnBtn {
  padding: 8px 20px;
}
.dateFilter {
  height: 45px;
  background-color: var(--global-dark-background);
  border: 1px solid var(--light-blue);
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-white);
  padding: 0px 9px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  img {
    width: 18px;
    margin-top: -2px;
    margin-left: 10px;
  }
  span {
    margin-left: 15px;
    margin-right: 5px;
    display: block;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.toggleWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px;
}
.toggleItem{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  font-size: 15px;
  margin-top: 20px;
}