.container {
  border-radius: 12px;
  border: 1px solid rgba(85, 85, 86, 1);;
  padding: 18px;
  p  , h2{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba(181, 181, 181, 1);
  }
  h2{
   color: rgba(226, 226, 226, 1);
   font-family: "Poppins-Bold";
  }
}