.container {
  input {
    padding: 14px 25px;
    background: var(--light-green);
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    &::placeholder {
      font-size: 1.2rem;
      font-family: "Poppins";
      font-weight: 500;
      line-height: 1.987rem;
    }
  }
}