.binaryWrap {
  overflow: hidden;
  border-radius: 16px;
  height: 100%;
}
.head {
  font-size: 16px;
  line-height: 30.71px;
  text-align: left;
  color: var(--color-white);
  margin-bottom: 30px;
}
.binaryInner {
  padding: 20px;
  &:first-child {
    padding-bottom: 40px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 20px;
      width: calc(100% - 40px);
      bottom: 0px;
      height: 0.5px;
      background-color: var(--color-white);
      opacity: 0.5;
    }
  }
}
// .searchOuter {
//   height: 42px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   input {
//     border-radius: 8px;
//     margin-right: 9px;
//     width: 100%;
//     height: 100%;
//     font-family: "Poppins-Medium";
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 19.38px;
//     text-align: left;
//     background-image: url("../../../../../../public/assets/images/search.png");
//     background-position: 5%;
//     background-repeat: no-repeat;
//     background-size: 18px;
//     color: var(--btn-color);
//     background-color: var(--light-green);
//     padding-left: 40px;
//     padding-right: 10px;
//   }
//   input::placeholder {
//     font-family: "Poppins-Medium";
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 19.38px;
//     text-align: left;
//     color: var(--btn-color);
//   }
// }
.searchOuter {
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 370px;
  position: relative;
  z-index: 10;
  .searchItemWrap {
    position: absolute;
    top: 44px;
    left: 0px;
    width: 100%;
    border-radius: 8px;
    max-height: 200px;
    overflow: auto;
    width: 100%;
    .searchItem {
      background-color: var(--light-green);
      padding: 7px 10px;
      font-size: 13px;
      cursor: pointer;
      &:hover {
        background: var(--btn-color);
        color: var(--color-white);
      }
    }
  }
  input {
    border-radius: 8px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    font-family: "Poppins-Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 19.38px;
    text-align: left;
    background-image: url("../../../../../../public/assets/images/search.png");
    background-position: 14px;
    background-repeat: no-repeat;
    background-size: 18px;
    color: var(--btn-color);
    background-color: var(--light-green);
    padding-left: 40px;
    padding-right: 10px;
  }
  input::placeholder {
    font-family: "Poppins-Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 19.38px;
    text-align: left;
    color: var(--btn-color);
  }
}
.copy {
  padding: 0px 15px;
  border-radius: 8px;
  color: var(--btn-color);
  background-color: var(--light-green);
  text-align: center;
  font-family: Poppins-Medium;
  font-size: 14px;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: var(--color-green);
  }
}
.userName {
  font-family: "Poppins-Medium";
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: var(--color-white);
  margin-top: 20px;
}
.color {
  width: 19px;
  height: 17px;
  border-radius: 3px;
  background-color: var(--color-green);
  &.color2 {
    background-color: var(--color-pink);
  }
}
.direction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-bottom: 5px;
  .directionInner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-green2);
    opacity: 0.09;
  }
}
.indicatorOut {
  margin-top: 40px;
}
.indicatorWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.indicator {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.name {
  color: var(--color-white);
  font-size: 15px;
  text-align: left;
  margin: 0px 15px;
}
.bottomVal {
  font-size: 14px;
  font-weight: 400;
  line-height: 25.52px;
  text-align: left;
  color: var(--color-white);
  text-align: center;
  margin-left: 15px;
}
.detWrap {
  display: flex;
  flex-direction: column;
}
.saleDetail {
  color: var(--color-white);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  .saleDetailLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .saleName {
    margin-right: 15px;
  }
  .copy{
    height: 32px;
  }
}
.chartOuter {
  height: 290px;
  margin-top: 34px;
}
@media only screen and (max-width:700px){
  .searchOuter{
    input{
      background-position: 16px;
    }
  }
}