.container {

  /* Your styles here */
  .subSectionTitle {
    color: var(--light-blue);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.51px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 10px;
  }

  .formWrap{
    @media (min-width:1000px) {
      display: flex;
      }
    // align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
    .formElement{
      @media (min-width:1000px) {
        width: 48%;
      }
      margin-bottom: 18px;
      label{
        color: var(--color-white);
        font-size: 16px;
        font-family: "Poppins";
      }
      ::placeholder,button{
        font-family: "Poppins";
      }
    }
  }
  .editor{
    background: var(--light-blue);
    border-radius: 3px;
    overflow: hidden;
    min-height: 300px;
  }
}