.container {
  .ticketCardWrapper {
    padding: 35px;
    border-radius: 10px;
    background: var(--global-dark-background);

    h1 {
      color: var(--color-white);
      margin-top: 0px;
    }
  }
}
.filterOut {
  position: relative;
  z-index: 11;
}
img.invert{
  filter: invert(1);
}
.tableWrapper {
  table {
    border: 1px solid;
    border-color: var(--light-green);
    border-radius: 16px;
    overflow: hidden;
  }

  table {
    button {
      padding: 0px;
      background: transparent;
      border: none;

      &:nth-child(2) {
        margin: 0px 16px;
      }
    }
  }

  th {
    padding: 20px 10px !important;

    &:nth-child(1) {
      font-size: 13px;
      padding-left: 30px !important;
    }
  }

  tr {
    td {
      &:nth-child(1) {
        width: 50%;
        font-size: 13px;
      }

      &:nth-child(2) {
        width: 35%;
      }

      &:nth-child(3) {
        width: 15%;
      }
    }
  }
}

.breadCrumb {
  padding: 20px 0px;
}

.action {
  color: var(--color-green) !important;
}
