.container {
  background-color: var(--global-dark-background);
  border-radius: 12px;
  padding: 16px;
  color: var(--color-green);
}

.IconWrap {
  color: var(--color-green);
  display: flex;
  align-items: center;
  &.center {
    justify-content: center;
  }
  .count {
    font-size: 3.15rem;
    font-weight: 400;
    line-height: 3.71rem;
    padding-right: 9px;
    margin-right: 9px;
    border-right: 1px solid var(--color-green);
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 80px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-self: center;

    img {
      width: 100%;
    }
  }

  .info {
    font-size: 1.26rem;
    font-weight: 400;
    line-height: 1.4rem;
  }
}

.mainInfo {
  padding-top: 43%;
  font-family: "Poppins-Bold";
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 3.09rem;
  text-align: center;
  color: var(--color-green);
}

.desktopSlider {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    width: 100%;
  }
  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }
}

.mobileSlider {
  display: block;
  width: 100%;
  @media (min-width: 768px) {
    display: none !important;
  }
}
