.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    width: 40%;

    .label {
      font-family: "Poppins-SemiBold";
      font-size: 1.7rem;
      font-weight: 600;
      line-height: 3rem;
      text-align: left;
      color: var(--color-white);
      margin-bottom: 15px;
    }
  }

  .coinGenWrap {
    margin: 60px 0px;

    .coinGen {
      width: 100%;

      background: var(--light-green);
      border-radius: 3px;
      display: flex;
      overflow: hidden;
      align-items: center;

      input {
        padding: 11px 25px;
        text-align: center;
        width: 100%;
      }

      button {
        padding: 18px 25px;
        border-radius: unset;
        color: var(--color-white);
        font-size: 1rem;
        width: 150px;
      }
    }
  }

  .forms {
    text-align: right;
    button {
      font-family: "Poppins-SemiBold";
      font-size: 1rem;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      width: 190px;
      padding: 8px 12px;
      text-align: center;
      margin-top: 30px;
    }
  }

  .frmFld {
    padding: 15px 20px;
    margin-bottom: 20px;
  }
}

.coinWrap {
  .coinName {
    font-family: "Poppins-Medium";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: left;
    color: var(--light-green);
  }
  .count {
    color: var(--color-white);
    font-family: "Poppins-Medium";
    font-size: 1.86rem; /* 26px / 14px = 1.86rem */
    font-weight: 600;
    line-height: 2.79rem; /* 39px / 14px = 2.79rem */
    text-align: left;
    margin: 8px 0px;
  }

  .bar {
    height: 6px;
    border-radius: 7px;
  }
  &:nth-child(1) {
    .bar {
      background: #7218c7;
    }
  }
  &:nth-child(2) {
    .bar {
      background: #d42e90;
    }
  }
  &:nth-child(3) {
    .bar {
      background: #2007dc;
    }
  }
  &:nth-child(4) {
    .bar {
      background: #25157a;
    }
  }
}
.coinSignleWrap {
  padding-top: 20px;
  display: flex;
  height: 540px;
  flex-direction: column;
  justify-content: space-between;
}
.chart {
  width: 450px;
  height: 450px;
}
@media only screen and (max-width:1360px){
  .container{
    .left{
      width: 30%;
    }
  }
  .chart {
    width: 400px;
    height: 400px;
  }
}