.container {
  @media (min-width:1024px) {
    display: flex;
    align-items: flex-start;
  }
  gap: 25px;
  position: relative;
  z-index: 1;
  padding-bottom: 35px;
  .detailCard {
    background: var(--background-color4);
    border-radius: 12.4px;
    @media (max-width:600px) {
      padding: 15px 12px
    }
    @media (min-width:1024px) {
      padding: 35px 25px;
    }
    padding: 25px;
    flex: 1;
    @media (min-width:1024px) {
      width: calc(100% - 380px);
    }

    h1 {
      font-family: "Poppins-Bold";
      font-size: 2rem;
      color: var(--color-white);
      margin: 0px;
      font-weight: 700;
      line-height: 51.3px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    .date {
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 28.5px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(132, 142, 156, 1);
      margin: 12px 0px;
    }

    .tagWrap {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 35px;

      .tag {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 20.5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding: 6px 11px;
        background: var(--neo-lime-dark);
        border-radius: 18px;
        color: rgba(30, 47, 53, 1);
        margin-right: 12px;
        min-width: 80px;
        text-align: center;

      }
    }

    .imageBanner {
      position: relative;
  
      border-radius: 10px;
      margin: 20px 0px;

      img {
        max-height: 550px;
        overflow: hidden;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
  }

  .shareCard {
    padding: 0px 25px;
    @media (max-width:600px) {
      padding: 15px 12px
    }
    @media (min-width:1024px) {
    width: 380px;
    }
    flex-shrink: 0;
    .sharePost {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 39.9px;
      text-align: left;
      color: var(--color-white);
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 0px;
      margin-bottom: 35px;
    }
    .register{
      background: var(--background-color4);
      border-radius: 12.4px;
    }
  }

  .likeWrap{
    margin: 35px 0px;
  }
  .description{
    color: var(--color-white);
  }
}