.container {
  span{
  /* Your styles here */
  color : var(--color-gray-font);
  font-family: "Poppins-Medium";
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
  }
  margin-bottom: 28px;
}
