.socialRow{
    display: flex;
    align-items: center;
    gap: 30px;
    // justify-content: space-between;
    .socialIcon{
        width: 28px;
        height: 28px;
        position: relative;
        img{
            position: absolute;
          width: 100%;
          height: 100%;
        }
    }
}