.binaryWrap {
  // overflow: hidden;
  border-radius: 16px;
  height: 100%;
}
.head {
  font-size: 16px;
  line-height: 30.71px;
  text-align: left;
  color: var(--color-white);
  margin-bottom: 30px;
}
.binaryInner {
  padding: 20px 0;
}
.filterSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.export {
  background-color: var(--color-green);
  color: var(--color-black);
  width: 130px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  img {
    margin-left: 10px;
  }
}

.datePickerOuter {
  position: relative;
}
.datePicker {
  padding: 10px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-gray);
  border-radius: 7px;
  cursor: pointer;
  span {
    margin-left: 10px;
    color: var(--color-white);
  }
  .cross {
    cursor: pointer;
    margin-left: 10px;
  }
}
.search {
  input {
    border: 1px solid var(--light-white-color);
    border-radius: 30px;
    background-image: url("../../../../../../public/assets/images/filter/search.png");
    background-position: 7%;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 6px;
    padding-left: 53px;
    color: var(--color-white);
    font-size: 14px;
  }
  input::placeholder {
    color: var(--color-white);
  }
}
.filter {
  border: 1px solid var(--light-white-color);
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 17px;
  color: var(--color-white);
  font-size: 14px;
  img {
    margin-right: 10px;
  }
}
.tableOuter {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.addWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    cursor: pointer;
  }
  .add {
    display: inline-block;
    margin-right: 5px;
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.loader {
  width: 100%;
  text-align: center;
}
.filler {
  color: var(--border-gray);
}
.fee {
  color: var(--color-orange);
}
.statusWrap {
  display: inline-block;
}
.pass {
  font-family: "Poppins-Medium";
  font-size: 20px;
  font-weight: 500;
  line-height: 53.93px;
  text-align: left;
}
.status {
  font-family: "Poppins-Medium";
  font-size: 13px;
  font-weight: 500;
  line-height: 22.55px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid;
  color: var(--color-black);
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  &.PAID {
    background-color: var(--color-green);
    border: 1px solid var(--color-green);
  }
  &.stoploss {
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
  }
  &.PENDING {
    background-color: transparent;
    border: 0.55px solid rgba(255, 255, 255, 1);
    color: var(--color-white);
  }
  &.FAILED {
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
  }
}
@media only screen and (max-width: 1050px) {
  .rightSection {
    display: none;
  }
  .binaryInner {
    padding: 6px 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .addWrap {
    .add {
      word-break: break-all;
      margin-left: 20px;
      text-align: right;
      width: auto;
      overflow: auto;
      white-space: wrap;
    }
  }
}

.seeLess {
  flex: 1;
  text-align: center;
  font-size: 18px;
  color: var(--neo-lime);
  span {
    cursor: pointer;
    padding-left: 130px;
  }
  svg {
    vertical-align: middle;
    margin-left: 20px;
  }
}

.rightSectionOverView {
  margin-top: 25px;
}
