.container {
  @media (min-width:768px) {
    width: 35%;
  }
  width: 85%;
  position: relative;
  input {
    border-radius: 25px;
    border: 1px solid rgba(97, 97, 97, 1);
    padding: 16px 30px;
    width: 100%;
    color: var(--color-white);

    &::placeholder {
      font-size: 1.16rem;
      /* 16.24px */
      font-weight: 400;
      line-height: 1.74rem;
      color: rgba(174, 174, 174, 1);
    }
  }
  svg {
    position: absolute;
    right: 19px;
    top: calc(50% - 14px);
  }
}

.suggestions {
  z-index: 100;
  background: var(--background-color);
  position: absolute;
  width: 100%;
  top: 109%;
  max-height: 200px;
  border-radius: 5px;
  overflow-y: auto;
  color: var(--light-green);
  border-radius: 10px ;
  border: 1px solid var(--global-dark-background);

  .lisItem {
    padding: 15px;
    padding: 15px;
    border-bottom: 1px solid var(--global-dark-background);
    cursor: pointer;
    transition: all .2s;
    text-align: left;
    &:hover {
      background: var(--light-green);
      color: var(--color-black);
    }
  }
}