.container {
    h4 {
        margin-top: 0pc;
        color: var(--color-white);
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-family: "Poppins-Medium";
        @media (max-width:890px) {
            margin-left: 12px;
            padding-top: 2.3rem;
        }

    }

    .suggestedProjects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

      


        .imgWrap {
            max-height: 160px;
        }
    }

    .suggestedProjectsLoader{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .cardWraps,.cardsLoader {
        margin-bottom: 1.5rem;
        @media (min-width:890px) {
        width: calc(50% - 0.7rem);
        }

        &.fullWidth {
            width: 100% !important;
            @media (min-width:890px) {
                  margin: 35px 0px;
                }
        }
    }

    .miniCard{
        @media (min-width:890px) {
            font-size: .9em !important;
        }
    }
    .miniCardFooter{
        @media (min-width:890px) {
        margin-top: 15px !important;
        }
    }
    .miniCardContainer{
        @media (min-width:890px) {
        height: 14em !important;
        max-height: 224px !important;
        }
    }
}